page-login {

    .login-container {
        display: -webkit-flex;
        -webkit-flex-direction: column;
        height: 100%;
    }
    .login-container > .header {
        -webkit-flex: 4;
        padding-top: 20px;
    }
}
