page-login {
    .color-login {
        background-color: #5fcfca;
    }

    .login-container {
        display: -webkit-flex;
        -webkit-flex-direction: column;
    }
    .login-container > .header {
        -webkit-flex: 4;
        padding-top: 20px;
    }
    .login-icon {
        padding: 50px;
        text-align: center;
    }
    .buttons-login {
        padding: 46px 16px 0px 16px;    
    }
    .data-login {
        padding: 0px 16px 0px 0px;
    }
}
