page-settings {
    .img-side-menu {
        background: transparent;
        padding: 20px 0px 20px 0px;
        text-align: center;     
    }
    .card-title {
        padding-top: 20px;
        font-size: 1.0em;
        color: #488aff;
    }
  
   .circle-pic{
       width:75px;
       height:75px;
       -webkit-border-radius: 50%;
       border-radius: 50%;
   }

   .save-settings{
       padding-top: 50px;
   }

}
